#mainpage {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
    background-size: 100% 100%;
    overflow: hidden;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    #input-container {
        display: flex;
        height: 15vh;
    }
    #content-input,
    #content-input:focus,
    #sbtn {
        border-radius: 2.5vmin 0 0 2.5vmin;
        width: 50vw;
        height: 4vmin;
        margin-top: 5vw;
        background: rgba(96, 114, 103, 0.6);
        border: 0;
        padding: 0;
        text-align: center;
        box-shadow: 0 0 5px #96e6a1, 0 0 7px #96e6a1, 0 0 15px #d4fc79;
    }
    #sbtn {
        border-radius: 0 2.5vmin 2.5vmin 0;
        width: 15vmin;
        color: #96e6a1;
    }
    #content-input::placeholder,
    #sbtn,
    #content-input {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #d4fc79;
        text-align: center;
        font-size: 2.5vmin;
        min-height: 30px;
        appearance: none;
    }
    #foot {
        position: absolute;
        bottom: 1vh;
        color: #d4fc79;
    }
}